workflows/email-cotacoes-erro-tbc.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH COTACOES AS (\n\tSELECT \n\t\tZMDWFLUIGCOTACAO.CODCOLIGADA,\n\t\tZMDWFLUIGCOTACAO.CODCOTACAO,\n\t\tZMDWFLUIGCOTACAO.IDFLUIG,\n        DESCATIVIDADE\n\t\n\tFROM CORPORE.DBO.ZMDWFLUIGCOTACAO\n\t\tJOIN CORPORE.DBO.TCCOTACAO ON (\n\t\t\tTCCOTACAO.CODCOLIGADA = ZMDWFLUIGCOTACAO.CODCOLIGADA AND\n\t\t\tTCCOTACAO.CODCOTACAO = ZMDWFLUIGCOTACAO.CODCOTACAO\n\t\t)\n\n\tWHERE 1=1\n\t\tAND DESCATIVIDADE IN ('Em Processamento TBC', 'Suporte a Integração')\n\t\tAND STSCOTACAO <> 7\n\t\tAND ZMDWFLUIGCOTACAO.IDFLUIG IN (\n\t\t\t/* Solicitações com o status \"Aberta\" no fluig */\n\t\t\tSELECT \n\t\t\t\tNUM_PROCES AS ID_FLUIG\n\t\n\t\t\tFROM FLUIG.DBO.PROCES_WORKFLOW \n\n\t\t\tWHERE 1=1\n\t\t\t\tAND COD_DEF_PROCES = 'Aprovação de Cotação'\n\t\t\t\tAND STATUS = 0\n\t\t)\n)\n\nSELECT \n\tCODCOLIGADA, \n\tCODCOTACAO, \n\tIDFLUIG, \n    DESCATIVIDADE,\n\t'Pendente' AS STATUS \n\nFROM COTACOES\n\nUNION ALL\n\nSELECT \n\tNULL, \n\tNULL, \n\tNULL, \n    NULL,\n\t'Ok' \n\nWHERE NOT EXISTS (SELECT 1 FROM COTACOES)\n\nORDER BY \n    CODCOLIGADA, \n    CODCOTACAO\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -768,
        -112
      ],
      "id": "7da570b0-e3db-404f-8a17-5042f06af026",
      "name": "Microsoft SQL",
      "executeOnce": false,
      "credentials": {
        "microsoftSql": {
          "id": "d5wJRoyLLTIDzOn8",
          "name": "SQL Server"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        -112
      ],
      "id": "938a1f75-f26b-47e4-98ab-aa2f948a691f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        -192
      ],
      "id": "c7d9d430-139e-4d25-94ee-c5c5f24942bb",
      "name": "Finish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99ce57b5-8976-42bc-a2e7-5be627bdf9a1",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "Ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -112
      ],
      "id": "f4187964-61a5-47ab-8e4f-a1b9ef4c3f9b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "let rows = items.map(i => {\n  return `<tr>\n            <td>${i.json.CODCOLIGADA}</td>\n            <td>${i.json.CODCOTACAO}</td>\n            <td>${i.json.IDFLUIG}</td>\n            <td>${i.json.DESCATIVIDADE}</td>\n          </tr>`;\n}).join(\"\");\n\nreturn [{\n  json: {\n    html: `\n    <h4>Cotações com as atividades \"Em Processamento TBC\" e \"Suporte a Integração\"</h4>\n    <table border=\"1\" cellpadding=\"5\">\n      <tr>\n        <th>Coligada</th>\n        <th>Cotação</th>\n        <th>Id Fluig</th>\n        <th>Atividade</th>\n      </tr>\n      ${rows}\n    </table>\n    `\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        48
      ],
      "id": "ca3fdc22-8120-47a4-ad4d-44dcafaf405a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "gabriel.souza@gruposmi.com.br",
        "toEmail": "tecnologia@gruposmi.com.br",
        "subject": "Cotações a Serem Corrigidas no RM",
        "html": "={{ $json.html }}",
        "options": {
          "ccEmail": "beatriz.marques@gruposmi.com.br"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        512,
        48
      ],
      "id": "752d1a9d-0439-41c2-9ff8-2157156ba745",
      "name": "Send an Email",
      "webhookId": "ef8fec2d-bb32-4fb7-8b12-cf1cb69bbc13",
      "executeOnce": false,
      "credentials": {
        "smtp": {
          "id": "IIk85gYPr1NVm1oX",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH COTACOES AS (\n\tSELECT \n\t\tZMDWFLUIGCOTACAO.CODCOLIGADA,\n\t\tZMDWFLUIGCOTACAO.CODCOTACAO,\n\t\tZMDWFLUIGCOTACAO.IDFLUIG,\n        DESCATIVIDADE\n\t\n\tFROM CORPORE.DBO.ZMDWFLUIGCOTACAO\n\t\tJOIN CORPORE.DBO.TCCOTACAO ON (\n\t\t\tTCCOTACAO.CODCOLIGADA = ZMDWFLUIGCOTACAO.CODCOLIGADA AND\n\t\t\tTCCOTACAO.CODCOTACAO = ZMDWFLUIGCOTACAO.CODCOTACAO\n\t\t)\n\n\tWHERE 1=1\n\t\tAND DESCATIVIDADE IN ('Em Processamento TBC', 'Suporte a Integração')\n\t\tAND STSCOTACAO <> 7\n\t\tAND ZMDWFLUIGCOTACAO.IDFLUIG IN (\n\t\t\t/* Solicitações com o status \"Aberta\" no fluig */\n\t\t\tSELECT \n\t\t\t\tNUM_PROCES AS ID_FLUIG\n\t\n\t\t\tFROM FLUIG.DBO.PROCES_WORKFLOW \n\n\t\t\tWHERE 1=1\n\t\t\t\tAND COD_DEF_PROCES = 'Aprovação de Cotação'\n\t\t\t\tAND STATUS = 0\n\t\t)\n)\n\nSELECT \n\tCODCOLIGADA, \n\tCODCOTACAO, \n\tIDFLUIG, \n    DESCATIVIDADE,\n\t'Pendente' AS STATUS \n\nFROM COTACOES\n\nUNION ALL\n\nSELECT \n\tNULL, \n\tNULL, \n\tNULL, \n    NULL,\n\t'Ok' \n\nWHERE NOT EXISTS (SELECT 1 FROM COTACOES)\n\nORDER BY \n    CODCOLIGADA, \n    CODCOTACAO\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -128,
        -32
      ],
      "id": "01b955ae-9dba-475e-bdc8-96559655585b",
      "name": "Microsoft SQL1",
      "executeOnce": true,
      "credentials": {
        "microsoftSql": {
          "id": "d5wJRoyLLTIDzOn8",
          "name": "SQL Server"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99ce57b5-8976-42bc-a2e7-5be627bdf9a1",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "Ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -32
      ],
      "id": "ee5ea706-9487-4d01-a1eb-e1d7e220f3bc",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        -112
      ],
      "id": "0b2c0626-79c1-4a82-9889-00b15a94da37",
      "name": "Finish1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        -32
      ],
      "id": "406215a3-ef79-4e60-926d-d0fac2bcddcc",
      "name": "Wait",
      "webhookId": "660cdcd2-8341-4436-b9e5-d4dcd9f821c3"
    }
  ],
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Finish1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "201d4019418c413f00e6cb40ad343f465452ee63cf8c3a4d19a9d9fec62602b7"
  }
}