workflows/email-cotacoes-canceladas.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH COTACOES AS (\n\t/* Cotações com o status \"Cancelada\" no RM */\n\tSELECT \n\t\tTCCOTACAO.CODCOLIGADA,\n\t\tTCCOTACAO.CODCOTACAO,\n\t\tZMDWFLUIGCOTACAO.IDFLUIG\n\n\tFROM CORPORE.DBO.TCCOTACAO\n\t\tJOIN CORPORE.DBO.ZMDWFLUIGCOTACAO ON (\n\t\t\tZMDWFLUIGCOTACAO.CODCOLIGADA = TCCOTACAO.CODCOLIGADA AND\n\t\t\tZMDWFLUIGCOTACAO.CODCOTACAO = TCCOTACAO.CODCOTACAO\n\t\t)\n\n\tWHERE 1=1\n\t\tAND TCCOTACAO.STSCOTACAO = 7\n\t\tAND ZMDWFLUIGCOTACAO.IDFLUIG IN (\n\t\t\t/* Solicitações com o status \"Aberta\" no fluig */\n\t\t\tSELECT \n\t\t\t\tNUM_PROCES AS ID_FLUIG\n\t\n\t\t\tFROM FLUIG.DBO.PROCES_WORKFLOW \n\n\t\t\tWHERE 1=1\n\t\t\t\tAND COD_DEF_PROCES = 'Aprovação de Cotação'\n\t\t\t\tAND STATUS = 0\n\t\t)\n)\n\nSELECT CODCOLIGADA, CODCOTACAO, IDFLUIG, 'Pendente' AS STATUS FROM COTACOES\n\nUNION ALL\n\nSELECT NULL, NULL, NULL, 'Ok' WHERE NOT EXISTS (SELECT 1 FROM COTACOES)\n\nORDER BY CODCOLIGADA, CODCOTACAO\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        176,
        352
      ],
      "id": "7e953a3c-73d9-4267-b40f-6483d2b01429",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "d5wJRoyLLTIDzOn8",
          "name": "SQL Server"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        352
      ],
      "id": "e7df311c-31e8-4b3d-afd6-131d8b848554",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "gabriel.souza@gruposmi.com.br",
        "toEmail": "tecnologia@gruposmi.com.br",
        "subject": "Cotações a Serem Canceladas no Fluig",
        "html": "={{ $json.html }}",
        "options": {
          "ccEmail": "beatriz.marques@gruposmi.com.br"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        816,
        464
      ],
      "id": "8b805bfd-4dc6-4e70-a420-eaa994d07b39",
      "name": "Send an Email",
      "webhookId": "ef8fec2d-bb32-4fb7-8b12-cf1cb69bbc13",
      "credentials": {
        "smtp": {
          "id": "IIk85gYPr1NVm1oX",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99ce57b5-8976-42bc-a2e7-5be627bdf9a1",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "Ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        352
      ],
      "id": "222a01bb-e026-42da-b70f-e093def673e6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        272
      ],
      "id": "d1dcf1af-381b-4980-8241-181491ae8df9",
      "name": "Finish"
    },
    {
      "parameters": {
        "jsCode": "let rows = items.map(i => {\n  return `<tr>\n            <td>${i.json.CODCOLIGADA}</td>\n            <td>${i.json.CODCOTACAO}</td>\n            <td>${i.json.IDFLUIG}</td>\n          </tr>`;\n}).join(\"\");\n\nreturn [{\n  json: {\n    html: `\n    <h4>Cotações canceladas no RM com status \"Aberta\" no Fluig</h4>\n    <table border=\"1\" cellpadding=\"5\">\n      <tr>\n        <th>Coligada</th>\n        <th>Cotação</th>\n        <th>Id Fluig</th>\n      </tr>\n      ${rows}\n    </table>\n    `\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        464
      ],
      "id": "3afca5ce-af76-4098-ad12-f7e52622446e",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "201d4019418c413f00e6cb40ad343f465452ee63cf8c3a4d19a9d9fec62602b7"
  }
}