workflows/importacao-xmls.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        -512
      ],
      "id": "7b313333-0a94-41b3-9306-f1b590c23c23",
      "name": "Fim"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1cbf1ce8-09fa-49e7-9e2e-298d2034153c",
              "leftValue": "={{ $json.Importado }}",
              "rightValue": "Não",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -288
      ],
      "id": "0bbe355d-3fe2-4c93-ab74-74c094a464c2",
      "name": "Se"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.arquivei.com.br/v1/dfe/nfse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-ID",
              "value": ""
            },
            {
              "name": "X-API-KEY",
              "value": ""
            },
            {
              "name": "X-Use-ApiGateway",
              "value": "always"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filters\": {\n    \"emitterCnpj\": [\n      \"07150434000117\",\n      \"21759999000127\",\n      \"23515068000109\",\n      \"80700024000192\"\n    ],\n    \"emissionDate\": {\n      \"From\": \"{{ $now.minus({days: 7}).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n      \"To\": \"{{ $now.endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"\n    }\n  },\n  \"fields\": [\n    \"document\"\n  ],\n  \"paginator\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -400
      ],
      "id": "c10a1734-e278-473c-a8cb-47841f3a225d",
      "name": "Busca as XMLs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "nfses",
        "options": {}
      },
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -176,
        -400
      ],
      "id": "f02cf910-3351-4d49-b3b8-8801fe9f4318",
      "name": "Organiza as XMLs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        -400
      ],
      "id": "6d50e087-f97b-474b-8f8f-2d54148b7c5f",
      "name": "Para cada XML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17eac68c-2fc3-4787-8170-3d8f8b8eb64e",
              "name": "companyId",
              "value": "={{ $('Consulta as informações das empresas').item.json.companyId }}",
              "type": "number"
            },
            {
              "id": "63cd8328-a359-4b0a-8c3f-da29cea37650",
              "name": "NFeAccesskey",
              "value": "={{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.CodigoVerificacao }}",
              "type": "string"
            },
            {
              "id": "8eb08e98-88f3-4509-accc-f00290cab4ab",
              "name": "number",
              "value": "={{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Rps.IdentificacaoRps.Numero.padStart(9, '0') }}",
              "type": "string"
            },
            {
              "id": "477c41c8-effa-4cba-8aba-def4c8897d44",
              "name": "series",
              "value": "={{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Rps.IdentificacaoRps.Serie }}",
              "type": "string"
            },
            {
              "id": "7cd7cdef-9335-40e4-8002-5e5aae0a2610",
              "name": "RegisterDate",
              "value": "={{ new Date($('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.DataEmissao).toISOString() }}",
              "type": "string"
            },
            {
              "id": "c5c061c0-25f1-486d-89f1-de163218e8d4",
              "name": "customerVendorCode",
              "value": "={{ $('Consulta as informações das empresas').item.json.customerVendorCode }}",
              "type": "string"
            },
            {
              "id": "356d0393-8b55-4298-951e-102edc39d7c3",
              "name": "unitPrice",
              "value": "={{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Servico.Valores.ValorServicos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -400
      ],
      "id": "28b4d088-c1f8-403b-90fe-0eb702e5b343",
      "name": "Padroniza os dados"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "companyId = str(_items[0][\"json\"][\"companyId\"])\nNFeAccesskey = str(_items[0][\"json\"][\"NFeAccesskey\"])\nnumber = str(_items[0][\"json\"][\"number\"])\nseries = str(_items[0][\"json\"][\"series\"])\nRegisterDate = str(_items[0][\"json\"][\"RegisterDate\"])\ncustomerVendorCode = str(_items[0][\"json\"][\"customerVendorCode\"])\nunitPrice = float(_items[0][\"json\"][\"unitPrice\"])\n\npayload = {\n    \"aplicationIntegration\": \"T\",\n    \"internalId\": f\"{companyId}|99999999\",\n    \"companyId\": companyId,\n    \"movementId\": 99999999,\n    \"branchId\": 1,\n    \"movementTypeCode\": \"2.2.04\" if companyId in [\"1\", \"5\"] else (\"2.2.05\" if companyId in [\"7\", \"8\"] else None),\n    \"NFeAccesskey\": NFeAccesskey,\n    \"number\": number,\n    \"series\": \"NFSE\",\n    \"type\": \"S\",\n    \"documentTypeCode\": \"NFSE\",\n    \"customerVendorCompanyId\": companyId,\n    \"customerVendorCode\": customerVendorCode,\n    \"paymentTermCode\": \"28000\",\n    \"RegisterDate\": RegisterDate,\n    \"observation\": \"Movimento Importado Via Automação\",\n    \"movementItems\": [\n        {\n            \"aplicationIntegration\": \"T\",    \n            \"companyId\": companyId,\n            \"branchId\": 1,    \n            \"movementId\": 99999999,\n            \"warehouseCode\": \"01.001\",\n            \"sequentialId\": 1,\n            \"sequentialNumber\": 1,\n            \"productId\": 138918 if companyId == \"1\" else (138898 if companyId == \"5\" else (88774 if companyId == \"7\" else (104410 if companyId == \"8\" else None))),\n            \"quantity\": 1.0,\n            \"unitPrice\": unitPrice\n        }\n    ],\n    \"transportData\": [\n        {\n        \"companyId\": companyId,\n        \"movementId\": 99999999\n        }\n    ],\n    \"complementaryFields\": {\n        \"abatret\": \"0\"\n    }\n}\n\nreturn [{\"json\": {\"body\": payload}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -400
      ],
      "id": "77aa0a39-c65c-43cb-9c1b-03923e1ec4ab",
      "name": "Preenche o payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://apptotvs.sinasc.com.br:8051/api/mov/v1/Movements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -400
      ],
      "id": "97de27e1-afe7-4021-a131-5edfc28472f2",
      "name": "Registra o movimento",
      "credentials": {
        "httpBasicAuth": {
          "id": "g4QYsmIRsSE8hGsr",
          "name": "RM User"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -400
      ],
      "id": "4e2a2d69-fcfe-452f-af63-cd34894d5d0e",
      "name": "Cronômetro"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    CASE \n        WHEN EXISTS (SELECT 1 FROM TMOV WHERE CODCOLIGADA = '{{ $json.companyId }}' AND CODTMV = '2.2.04' AND SERIE = 'NFSE' AND NUMEROMOV = '{{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Rps.IdentificacaoRps.Numero.padStart(9, '0') }}') THEN 'Sim' \n        ELSE 'Não'\n    END AS Importado",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        528,
        -288
      ],
      "id": "acbffae6-9981-4896-8911-f01a05a1e554",
      "name": "Consulta se já foi importado",
      "credentials": {
        "microsoftSql": {
          "id": "d5wJRoyLLTIDzOn8",
          "name": "SQL Server"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "gabriel.souza@gruposmi.com.br",
        "toEmail": "tecnologia@gruposmi.com.br",
        "subject": "=Erro ao importar nota de serviço",
        "text": "=Erro ao importar o XML {{ $('Para cada XML').item.json.jsonDocument.CompNfse.Nfse.InfNfse.CodigoVerificacao }}\n\nMensagem do erro:\n{{ $json.error.message }}\n",
        "options": {}
      },
      "id": "32da3c36-c09e-4340-8047-6bff001007b0",
      "name": "Envia um email de aviso",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1760,
        -288
      ],
      "webhookId": "3dd69088-e853-41b2-9799-9fc097cf1757",
      "credentials": {
        "smtp": {
          "id": "IIk85gYPr1NVm1oX",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n\tCODCOLIGADA AS companyId, \n\tCODCFO AS customerVendorCode\n\nFROM FCFO (NOLOCK)\n\nWHERE 1=1\n\tAND CODCOLIGADA IN (SELECT CODCOLIGADA FROM GCOLIGADA WHERE CGC = '{{ $json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Prestador.CpfCnpj.Cnpj?.replace(/^(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5') }}') \n\tAND CGCCFO = '{{ $json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.TomadorServico.IdentificacaoTomador.CpfCnpj.Cnpj?.replace(/^(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5') || $json.jsonDocument.CompNfse.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.TomadorServico.IdentificacaoTomador.CpfCnpj.Cpf?.replace(/^(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4') }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        320,
        -288
      ],
      "id": "e9e4bcfa-0b3e-4494-baab-9185585af958",
      "name": "Consulta as informações das empresas",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "d5wJRoyLLTIDzOn8",
          "name": "SQL Server"
        }
      }
    }
  ],
  "connections": {
    "Se": {
      "main": [
        [
          {
            "node": "Padroniza os dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Para cada XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca as XMLs": {
      "main": [
        [
          {
            "node": "Organiza as XMLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza as XMLs": {
      "main": [
        [
          {
            "node": "Para cada XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Para cada XML": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta as informações das empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padroniza os dados": {
      "main": [
        [
          {
            "node": "Preenche o payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche o payload": {
      "main": [
        [
          {
            "node": "Registra o movimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registra o movimento": {
      "main": [
        [
          {
            "node": "Para cada XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia um email de aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cronômetro": {
      "main": [
        [
          {
            "node": "Busca as XMLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta se já foi importado": {
      "main": [
        [
          {
            "node": "Se",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia um email de aviso": {
      "main": [
        [
          {
            "node": "Para cada XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta as informações das empresas": {
      "main": [
        [
          {
            "node": "Consulta se já foi importado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "201d4019418c413f00e6cb40ad343f465452ee63cf8c3a4d19a9d9fec62602b7"
  }
}